<a routerLink="/home">Home</a><br>
<a routerLink="/home/listado">Listado</a><br>
<a routerLink="/home/registro">Registrar</a><br>
<a routerLink="/home/paneladmin">Panel de admin</a>

<div class="wrapper">
    <h3>Panel de admin:</h3>
    <div class="listado">
        <ul class="listado-items" *ngFor="let usuario of usersPanel">
            <li class="listado-usuarios-nombre">
                <button (click)="itemSelected(usuario)">{{usuario.nombre}}</button>
            </li>
        </ul>
    </div>
</div>