<div class="wrapper">
    <div class="btn-home-link">
        <a routerLink="/home">
            <button>
                Listado
            </button>
        </a>
    </div>
    <h3>Panel de administrador:</h3>
    <div class="div-tabla">
        <table class="tabla">
            <tr *ngFor="let usuario of usuarios">
                <td class="tabla-td">
                    <button (click)="itemSelected(usuario) ">{{usuario.nombre}}</button>
                </td>
            </tr>
        </table>
    </div>
</div>