<a routerLink="/home">Home</a><br>
<a routerLink="/home/registro">Registrar</a><br>
<a routerLink="/home/paneladmin">Panel de admin</a><br>

<a [routerLink]="testrouter()">Test router param</a>

<div class="wrapper">
    <h3>Listado de usuarios:</h3>
    <div class="listado">
        <ul class="listado-items" *ngFor="let usuario of usuarios">
            <li class="listado-usuarios-nombre">
                <button (click)="abrirModal(usuario)">{{usuario.nombre}}</button>
            </li>
        </ul>
    </div>
</div>

<!--
<div>
    <button (click)="panelAdmin()">Panel de admin</button>
</div>

<div>
    <button (click)="registro()">Registrar</button>
</div>

<div *ngIf="registrar">
    <app-registro-usuario (onNuevoUsuario)="agregarUsuario($event)" [usuariosAgregar]="usuarios"></app-registro-usuario>
</div>

<div *ngIf="panel">
    <app-panel-admin (onUsuarioBorrado)="eliminarUsuario($event)" [usersPanel]="usuarios"></app-panel-admin>
</div>
-->
