

<a routerLink="/home/paneladmin">Panel de admin</a><br>

<div class="wrapper">
    <h3>Usuarios</h3>
    <div class="listado">
        <div class="listado-items" *ngFor="let usuario of usuarios">
            <div class="item">
                <div><img src='{{usuario.foto}}' /> {{usuario.nombre}}</div> <div class='user-description'>{{usuario.descripcion}}</div><button (click)="abrirModal(usuario)">Ver</button>
            </div>
        </div>
    </div>
    <div class="btn-registrar">
        <button (click)="registro()">Panel de registro</button>
    </div>
</div>

<ng-container *ngIf="registrar" >
    <app-registro-usuario (onNuevoUsuario)="agregarUsuario($event)" [usuariosAgregar]="usuarios"></app-registro-usuario>
</ng-container>