.modal,
.modal-box {
    z-index: 900;
}

.modal-header {
    padding: 20px 40px;
    background: linear-gradient(-45deg, #55aac9, #2d4faf);
    color: #ffffff;
}

.modal-body {
    padding: 24px 24px;
}

.modal-body img {
    width: 100px;
    height: auto;
}

.close-modal {
    background: none;
    border: none;
    text-align: right;
    cursor: pointer;
}

.close-modal svg {
    width: 30px;
    height: auto;
}

button {
    border: 1px solid #333333;
    outline: none;
    color: #333333;
}