<div class="modal-header">
    <h4 class="modal-title">{{userSeleccionado.nombre}} {{userSeleccionado.apellidos}}</h4>
    <div class="close-modal" (click)="activeModal.dismiss('Cross click')">&#10006;</div>
</div>
<div class="modal-body">
    <p>
        <b>Nombre:</b> {{userSeleccionado.nombre}}
        <br>
        <b>Apellidos:</b> {{userSeleccionado.apellidos}}
        <br>
        <b>Edad:</b> {{userSeleccionado.edad}}
        <br>
        <b>Foto:</b> <br>
        <img class="user-foto" src= {{userSeleccionado.foto}} />
        <br>
        <b>Descripción:</b> {{userSeleccionado.descripcion}}
        <br>
        <b>Email:</b> {{userSeleccionado.correo}}
        <br>
        <b>Password:</b> {{userSeleccionado.password}}
    </p>
    <button (click)="activeModal.close('Close click')" class="close-modal">Cerrar</button>
</div>