<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="particles-js"></div>

    <div class="bg-color"></div>

    <div class="circulo"></div>

    <div class="wrapper">
        <div class="formulario">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" formControlName="userNickname" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" formControlName="userPass" class="form-control" />
                </div>

                <div class="form-group">
                    <button class="btn">Iniciar sesión</button>
                </div>
            </form>

            <div *ngIf='noEncontrado'>
                No encontrado.
            </div>
        </div>
    </div>
</body>

</html>